$primary: #b364c2;
$secondary: #679ed5;

@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/* DESKTOP MENU */

@media (min-width: 992px) {
	#main-header .nav-link {
		margin-left: 1rem;
	}
}


/* MOBILE MENU */

@media (max-width: 992px) {
	#main-menu ul {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	#main-menu .dropdown-menu {
		background: transparent;
		border: 0px;
		padding: 0 0 0 0.5rem;
	}
	#main-menu a.dropdown-item {
		color: rgba(255, 255, 255, .55);
	}
	#main-menu a.dropdown-item:hover {
		color: white;
		background: transparent;
	}
	#discord-btn {
		width: 100%;
		margin-top: 1em;
		margin-bottom: 1rem;
	}
	.navbar-toggler:focus,
	.navbar-toggler:active,
	.navbar-toggler-icon:focus {
		box-shadow: none;
	}
}


/* HEADER */

#main-header {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('header-background-image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#main-menu {
	font-family: "Poppins", Sans-serif;
}

.title-bar {
	background: url('header-background-image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: white;
}


/* BODY */

.bullet-list {
	font-family: "Poppins", Sans-serif;
}

@media (max-width: 768px) {
	.container {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

h1,
h2,
h3,
h4,
h4,
h6 {
	font-family: "Poppins", Sans-serif;
	font-weight: 1000;
}

/*.border-bottom {
	padding-bottom: 0.5rem;
}*/

p {
	font-family: "Roboto", Sans-serif;
}

a.purple {
	color: $primary;
}

a.purple:hover {
	color: #9a4ba9;
}

.badge {
	background: $primary;
	color: #ffffff;
	border: 0px;
}

.hover-tile {
	transition: all 0.1s ease;
}

.hover-tile:hover {
	transform: scale(1.05);
}

.card-header {
	background: #f6f6f6;
}

.exchange-logo {
	background: #f6f6f6;
}

/* FORM CONTROLS */

.btn {
	background: $primary;
	color: white;
	border: 0px;
}

.btn:hover {
	background: #9a4ba9;
	color: white;
	border: 0px;
}

.form-control:focus,
.btn:focus {
	border-color: $primary;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

input {
	font-family: "Roboto", Sans-serif;
}

input:focus::placeholder {
	color: transparent;
}


/* PROJECTS */

.sideproject-link {
	text-decoration: none;
	color: #212529;
}

.sideproject-link:hover,
.sideproject-link:focus,
 :target {
	color: $primary;
}

.sideproject-heading {
	border-left: 5px solid $primary;
	padding-left: 0.5em;
	cursor: pointer;
	text-decoration: none;
}

.side-heading {
	border-left: 5px solid $primary;
	padding-left: 0.5em;
	text-decoration: none;
}

.chosen-project {
	p {
		color: rgb(33, 37, 41);
	}
	h4,
	h5 {
		color: #212529;
	}
}

.icon-purple {
	color: $primary;
}

.icon-blue {
	color: $secondary;
}

.icon-green {
	color: #1aa260;
}

.icon-red {
	color: #de5246;
}

.wallet-icon {
	max-height: 28px;
}

/* SWIPER */

.swiper {
	cursor: pointer;
}

.swiper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
  }
  
  .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px !important;
	height: 300px !important;
  }
  
  .swiper-slide img {
	display: block;
	width: 100%;
  }

.card-link {
	color: $secondary;
	text-decoration: none;
	font-weight: 500;
}

.card-link:hover {
	color: #4E85BC;
	text-decoration: none;
}


/* GET BIS */

.x-tile {
	transition: all 0.1s ease;
}

.x-tile:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.x-tile img {
	min-height: 100px;
	max-height: 100px;
}


/* RESOURCES */

.resource-icon {
	color: $primary;
}
